<p id="notice"><%= notice %></p>

<p>
	<strong>ID:</strong>
	<%= @bookmark.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @bookmark.name %>
</p>

<p>
  <strong>URL:</strong>
  <a href="<%= @bookmark.url %>"><%= @bookmark.url %></a>
</p>

<p>
  <strong>Domain:</strong>
  <%= Domain.find(@bookmark.domain_id).domain %>
</p>

<p>
	<strong>Short URL:</strong>
	<a href="<%= @bookmark.shortened_url %>"><%= @bookmark.shortened_url %></a>
</p>

<p>
	<strong>Tags:</strong>
	<%= @bookmark.tag_list %>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
